:root {
  --border-color: #e1e4e8;
  --border-alternate-color: #444d56;
  --header-bg-color: #24292e;
  --link-color: #0366d6;
  --color-text-primary: #24292e;
  --color-text-secondary: #586069;
  --nav-primary-text-color: #fff;
  --tab-counter-color: #d1d5da80;
}

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  text-decoration: none;
  line-height: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  color: var(--color-text-primary);
  padding: 0;
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  font-size: 1rem;
  display: inline-block;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-top: 6em;
  padding: 1em;
  text-align: center;
}

.title {
  color: #24292e;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

@media (min-width: 500px) {
  .main {
    margin-top: 10em;
  }

  .title {
    font-size: 3rem;
  }
}

.form__section {
  background: #f6f8fa;
  padding: 2em 1em;
  margin-top: 3em;
  border-radius: 3px;
  max-width: 32em;
}

.user__form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  font-size: 0.9rem;
}

.user__form input {
  padding: 0.5em 0.9em;
}

.user__form button {
  background: #2c974b;
  border-color: #2c974b;
  border-radius: 2px;
  color: #fff;
  font-size: inherit;
  padding: 0.7em 1.4em;
  display: flex;
  align-items: center;
}

@media (min-width: 400px) {
  .form__section {
    padding: 2em;
  }

  .user__form {
    grid-template-columns: 1fr auto;
    grid-gap: 0.5em;
  }
}

.error {
  color: #d96061;
  background: #ff9fa02e;
  margin-bottom: 1.2em;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9rem;
}
